html{
  overflow-x: hidden;
}
body{
  background: #2feff4;
  width: auto;
  height: 600px;
  padding: 0px;
  margin: 0px;
}





    .baseMenu{
     height-max: 100%;
     width: 100%;
     border: 1px dotted black ;
     background: #337e80;
     display:flex;

   }



ul{
      display: flex;
      margin: 0 auto;
      width: auto;
      padding: 0 0;
      width: auto;
      border: 1px solid red;
      float: right;
      align-items:stretch;
      justify-content: space-around;

       }

li{
        width:auto;
        list-style-type: none;
        /* padding: 0 auto; */
        padding: 0 15px;
        border: 1px dotted black;
        align-items:center;
        display: flex;
      }

.baseContent{
width: 90%;
height: auto;
margin: 5%;
background: white;
border-radius: 10px;
border: 2px dotted gray;

}


.content{
  width: 90%;
  height: auto;
  margin: 5%;
  background: #ffff20;
  border-radius: 10px;
  border: 2px dotted gray;

}
